bin/gs2emu
bin/GS2Emu.*
bin/*.a
bin/*.dll
bin/*.dat
bin/*.bin
bin/servers/default/logs/serverlog.txt
bin/servers/default/logs/npclog.txt
bin/startuplog.txt
mybin/*
build*/*
cmake-build-*/*
dependencies/*
!dependencies/gs2lib
.idea/*
bin/Debug/
lib/
..gitignore.swp
.vs/
dependencies/.cipd/
bin/servers/*
*.swp
.svn/
*.uaem
bin/data/world/images/*.png
bin/data/world/images/*.gif
bin/data/world/images/*.jpg
*.png
*.jpg
*.gif
*.gani
*.nw
*.gmap
bin/data/accounts/*
bin/data/startuplog.txt
