[submodule "dependencies/miniupnp"]
	path = dependencies/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "dependencies/gs2lib"]
	path = dependencies/gs2lib
	url = https://xtjoeytx@bitbucket.org/xtjoeytx/gs2lib.git
[submodule "dependencies/opengs1"]
	path = dependencies/opengs1
	url = https://github.com/veryjos/OpenGS1.git
[submodule "dependencies/milkytracker"]
	path = dependencies/milkytracker
	url = https://github.com/AmigaPorts/MilkyTracker.git
